.board {
    display: flex;
    flex-direction: column;
  
    gap: 15px;
}

.board_header {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    color: rgb(153, 153, 153);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.board_item {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.position {
    width: 178px;
}

.name {
    width: 324px;
}

.time {
    width: 102px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}